{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended"],
    "ignorePatterns": ["webpack.config.js", "node_modules", "dist"]
  }